body{
    background-color: rgb(184, 184, 184);
    

}
.lista-card{
    display: flex;
    flex-wrap: wrap;
    color: rgb(76,54, 54);
}

.card{
    border: 1px solid rgb(79, 66, 66, 0.205);
    width: 250px;
    border-radius: 6px;
    padding: 10px;
    box-shadow:0 4px 8px rgb(0,0, 0,0.584);
    margin-bottom: 12px;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.grupoValores{
    border:1px solid black;
    width: fit-content;
    column-gap: 15px;
    flex-direction: row;
    display: flex;
}

.comDesconto{
    font-weight: bold;
    font-size: 22px;
}
.semDesconto{
    font-size: 17px;
    color: red;
    text-decoration: line-through;

}
.grupoValores1{
    width: fit-content;
    column-gap: 15px;
    flex-direction: row;
    display: flex;
}

.valorComDesconto{
    font-weight: bold;
    font-size: 22px;
}
.valorSemDesconto{
    font-size: 17px;
    color: red;
    text-decoration: line-through;
}
.textos{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.grupo-img{
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mini-img{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.lista-card{
    display: flex;
    flex-wrap: wrap;
    color: rgb(76,54, 54);

}
nav{
    display: flex;
    column-gap: 20px;
    flex-direction: row;
    background: red;
    padding: 10px;
    color: rgb(255, 255, 255);
    width: 100%;
    
}
footer{
    display: flex;
    flex-direction: row;
    text-align: center;
    background: red;
    padding: 15px;
    color: white; 
}

button{
    margin: 10px;
    height: 100%;
    
}
h1{
    color: white;
}
h2{
   color: white;
   font-size: 50px;
}


