  /* Estilo para a barra de pesquisa */
  #searchInput {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  /* Estilo para os itens da lista */
  .product {
    display: none;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  
  
  